.rainBow1{
    background-image:linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
    width:100%;
    height:300px;
    margin:20px;
}
.rainBow2{
    background-image:repeating-linear-gradient(red, orange 2%, yellow 4%, green 6%, blue 8%, violet 10%, indigo 12%);
    width:100%;
    height:300px;
    margin: 20px;
}
.rainBow3{
    background-image:radial-gradient(farthest-side, red, orange, yellow, green, blue, indigo, violet);
    width:100%;
    height:300px;
    margin: 20px;
}
.rainBow4{
    background-image:radial-gradient(closest-side, red, orange, yellow, green, blue, indigo, violet);
    width:100%;
    height:300px;
    margin: 20px;
}